@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --ff: "Poppins", sans-serif;
  --colorprimary: #49d049;
  --colorprimary2: #C5E4C8;
  --colorsecondary: #d0bf49;
  --colorsecondary2: #FFC107;
  --colortertiary: #ffffff;
  --colortertiary2: #000000;
  --h1: bold 48px/60px var(--ff);
  --h2: normal 40px/50px var(--ff);
  --h3: bold 33px/40px var(--ff);
  --h6: normal 19px/40px var(--ff);
  --p: light 16px/20px var(--ff);
}
*{
    box-sizing: border-box;
    /* border: 2px solid var(--colortertiary2); */
}
  
body{
    margin: 0;
    padding: 0;
    background: var(--colorprimary2);
    color: var(--colortertiary2);
    font: var(--h6);
}
header{
    background: none;
    /* border: 2px solid var(--colortertiary2); */
    padding: 20px;
}
.container{
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.main-content{
    flex: 25%;
}
.image-container{
    flex: 25%;
}
@media (max-width: 800px){
    .container{
        flex-direction: column;
    }
}
h1{
    font: var(--h1);
}
h2{
    font: var(--h2);
    color: var(--colorsecondary2);
    -webkit-text-stroke: 1.5px black;
}
a{
    background: var(--colorsecondary2);
    color: var(--colortertiary2);
    padding: 10px 20px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}
.header{
    background: none;
    padding: 0;
    margin: 0;
    display: block;
}
img{
    width: 100%;
    height: auto;
}
/* CSS for LOGIN */
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: var(--colorprimary);
    margin: 20px auto;
    border-radius: 32px;
    padding: 20px;
    width:fit-content;
    overflow: hidden;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: var(--p);
}
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: var(--p);
}
input[type=submit]{
    width: 100%;
    /* display: inline-block; */
    padding: 0px;
    margin-top: 10px;
    background: var(--colorsecondary2);
    font: var(--h6);
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
button {
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin-top: 10px;
    background: var(--colorsecondary2);
    font: var(--h6);
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}
.signup-btn{
    background: none;
    font: var(--h6);
    width: 100%;
    text-align: center;
    padding: 0;
}
span{
    font-weight: 500;
}
.create-acc{
    color: var(--colortertiary);
}
/* CSS for SignUp */
#signup{
    margin: 0 auto;
    padding: 20px 60px;
}
.colored-center{
    background: var(--colorprimary);
    text-align: center;
}
/* CSS for homepage */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
li{
    text-align: center;
    /* display: inline-block; */
}
/* CSS for Check Exam Page */
.btn-group{
    width: 100%;
    /* display: inline-block; */
    background: var(--colorsecondary);
    color: var(--colortertiary2);
    padding: 10px 20px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.check-stud{
    display: inline-block;
    /* padding: 8px; */
}
.check-stud button{
    width: 100%;
    background: var(--colorsecondary);
    color: var(--colortertiary2);
    padding: 10px 20px;
    border-radius: 32px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}
textarea{
    width: 100%;
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: var(--p);
}

input::placeholder,
textarea::placeholder {
  color: var(--colortertiary2);
  font: var(--p);
  font-style: italic;
}
.form-group {
    margin-bottom: 20px;
    padding: 10px;
    /* border: 1px solid #ccc; */
}
#answerKeyForm {
    display: none;
}
.dropdown {
    position: relative;
    /* display: inline-block; */
}

.dropdown-toggle {
    background: var(--colorsecondary);
    /* color: white; */
    padding: 10px 20px;
    /* border: 1px solid var(--colortertiary); */
    /* cursor: pointer; */
    border-radius: 32px;
    /* text-align: center; */
}

.dropdown-toggle:hover {
    background: var(--colorsecondary2);
    color: var(--colortertiary);
}

.dropdown-menu {
    display: none;
    /* position: absolute; */
    /* background-color: white; */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    /* min-width: 160px; */
    z-index: 1;
    margin: 10px auto;
    /* align-items: center; */
}

.dropdown-menu a {
    /* color: var(--colorprimary); */
    background: var(--colorsecondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font: var(--h6);
}

.dropdown-menu a:hover {
    background: var(--colorsecondary2);
    color: var(--colortertiary);
    font: var(--h6);
}
#droplist{
    /* width: 30%; */
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    transition: height 0.3s ease;
    overflow: hidden;
}
/* CSS for View Records Page */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    /* display: none; */
}
th, td {
    padding: 10px;
    border: 2px solid var(--colortertiary2);
    text-align: left; 
}
th{
    background: var(--colorsecondary);
}
/* CSS FOR SCANNER */
video{
    width: 100%;
    max-height: 600px;
}
.video-container{
    margin: 0 auto;
}
h3{
    text-align: center;
    font: var(--h3);
}