<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    {% block header %}{% endblock %}
    <div class="container">
        <div class="main-content">
            {% block content %}{% endblock %}
        </div>
        <div class="image-container">
            <img src="{{url_for('static', filename='img/checkmate-removebg-preview.png')}}" alt="">
        </div>
    </div>
    {% block body %}{% endblock %}
</body>
</html>