{% extends 'base.html' %}

{% block title %}CheckMate-Check Exam{% endblock %}

{% block header %}
<header class="colored-center">
    <a class="header" href="/home"><h2>CheckMate</h2></a>
</header>
{% endblock %}
{% block content %}
<form id="examForm" action="#" method="POST">
    <div class="card" id="droplist">
        <div class="dropdown">
            <button type="button" class="dropdown-toggle">Select Exam</button>
            <div class="dropdown-menu">
                <a href="#" data-value="1st Quarter Exam">1st Quarter Exam</a>
                <a href="#" data-value="2nd Quarter Exam">2nd Quarter Exam</a>
                <a href="#" data-value="3rd Quarter Exam">3rd Quarter Exam</a>
                <a href="#" data-value="4th Quarter Exam">4th Quarter Exam</a>
            </div>
        </div>
    </div>
    <input type="hidden" name="selectedExam" id="selectedExam">
    <div>
        <ul>
            <li class="check-stud"><button type="submit" class="btn-group">Scan Student Answer</button></li>
            <li class="check-stud"><a class="btn-group" href="/home">Exit</a></li>
        </ul>
    </div>
</form>

<script src="{{url_for('static', filename='js/dropdown.js')}}"></script>


{% endblock %}