{% extends 'home-base.html' %}

{% block title %}Upload Answer Key{% endblock %}

{% block content %}
<div class="card" id="upload-card">
    <h2>Upload Answer Key</h2>
    
    <!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Answer Key Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="file">Choose Answer Key Image</label>
            <input type="file" id="file" name="file" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}
