{% extends 'home-base.html' %}

{% block title %}Edit Answer Key{% endblock %}

{% block content %}
<div class="card" id="upload-card">
    <h1>Edit Answer Key</h1>
    <form action="{{ url_for('edit_answer_key', key_id=answer_key.id) }}" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ answer_key.name }}" required>
        <br>
        <label for="image">Upload New Image (optional):</label>
        <input type="file" id="image" name="image">
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="{{ url_for('manage_test_bank') }}">Back to Test Bank</a>    
</div>

{% endblock %}