{% extends 'home-base.html' %}

{% block title %}CheckMate-Homepage{% endblock %}

{% block content %}
<!-- <h2>Welcome, {{ current_user.username }} to CheckMate!</h2> -->

<div class="card">
    <!-- <h1 class="display-4">Welcome to Math Checker</h1> -->
    <h1>Welcome, {{ current_user.username }} to CheckMate!</h1>
    <p>Automate the checking of mathematics exams using OCR and NLP.</p>
    <hr>
    <p>Get started by uploading an answer key or student papers.</p>
    <a class="btn-group" href="{{ url_for('createKey') }}" role="button">Upload Answer Key</a>
    <a class="btn-group" href="{{ url_for('checkExam') }}" role="button">Upload Student Paper</a>
</div>
{% endblock %}