{% extends 'base.html' %}

{% block title %}CheckMate-Homepage{% endblock %}
{% block header %}
<header class="colored-center">
    <a class="header" href="{{url_for('home')}}"><h2>CheckMate</h2></a>
</header>
{% endblock %}
{% block content %}
<h1>Welcome, {{ current_user.username }}!</h1>
<p>You have successfully logged in.</p>
<div class="card">
    <ul>
        <li><a class="btn-group" href="{{url_for('createKey')}}">Create Answer Key</a></li>
        <li><a class="btn-group" href="{{url_for('checkExam')}}">Check Exams</a></li>
        <li><a class="btn-group" href="{{url_for('viewRecord')}}">View Student Records</a></li>
        <li><a class="btn-group" href="{{url_for('logout')}}">Logout</a></li>
    </ul>
</div>
{% endblock %}