{% extends 'base.html' %}

{% block title %}CheckMate-Homepage{% endblock %}
{% block header %}
<header class="colored-center">
    <a class="header" href="/home"><h2>CheckMate</h2></a>
</header>
{% endblock %}
{% block content %}
<ul>
    <li><a class="btn-group" href="">Check Exams</a></li>
    <li><a class="btn-group" href="/create-key">Create Answer Key</a></li>
    <li><a class="btn-group" href="">View Student Records</a></li>
    <li><a class="btn-group" href="/login">Logout</a></li>
</ul>
{% endblock %}