{% extends 'base.html' %}

{% block title %}CheckMate{% endblock %}

{% block header %}
<header>
    <a class="header" href="/"><h2>CheckMate</h2></a>
</header>
{% endblock %}

{% block content %}
<h1>CheckMate: Revolutionize Checking Math Exams</h1>
<p>Capture, Grade, and Track Student Scores with Ease</p>
<a href="{{url_for('login')}}">Try it now!</a>
{% endblock %}

{% block image %}
<div class="image-container">
    <img src="{{url_for('static', filename='img/checkmate-removebg-preview.png')}}" alt="">
</div>
{% endblock %}