{% extends 'base.html' %}

{% block title %}CheckMate-Scan Student Answer{% endblock %}

{% block header %}
<header class="colored-center">
    <a class="header" href="{{url_for('home')}}"><h2>CheckMate</h2></a>
</header>
{% endblock %}

{% block content %}

<div class="video-container">
    <h3>{{ exam }}</h3>
    <video id="video" autoplay></video>
    <!-- <p id="status-msg"></p> -->
</div>

<div>
    <ul>
        <li class="check-stud"><button id="capture-btn">Capture Exam</button></li>
        <li class="check-stud"><button id="switch-btn">Switch Camera</button></li>
        <li class="check-stud"><a class="btn-group" href="{{url_for('home')}}">Exit</a></li>
    </ul>
</div>

<script src="{{url_for('static', filename='js/scan-test.js')}}"></script>
{% endblock %}


