{% extends 'base.html' %}

{% block title %}CheckMate-Scan Student Answer{% endblock %}

{% block header %}
<header class="colored-center">
    <a class="header" href="{{url_for('home')}}"><h2>CheckMate</h2></a>
</header>
{% endblock %}

{% block content %}
<h1>{{ exam }}</h1>
<div class="video-container">
    <video id="video" width="640" height="480" autoplay></video>
    <button id="capture-btn">Capture</button>
</div>
<div>
    <ul>
        <li class="check-stud"><a class="btn-group" href="{{url_for('home')}}">Exit</a></li>
    </ul>
</div>

<script src="{{url_for('static', filename='js/scan-test.js')}}"></script>
{% endblock %}


