{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block header %}
<header>
    <a class="header" href="/"><h2>CheckMate</h2></a>
</header>
{% endblock %}

{% block content %}
<div class="card" id="signup">
    <h1>Welcome</h1>
    <p>Signup for the CheckMate app</p>
    <form action="#" method="post">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" required>
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" required>
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
        </div>                
        <button type="submit">Signup</button><br>
    </form>
    <a class="signup-btn"href="/login"><span>Already have an account? </span><span class="create-acc">Login now</span></a>
</div>
{% endblock %}

{% block image %}
<div class="image-container">
    <img src="{{url_for('static', filename='img/checkmate-removebg-preview.png')}}" alt="">
</div>
{% endblock %}